# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/
.venv/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Data
data/*.png
*.zip
levir_data/
/content/

# Models and outputs
*.pth
*.pt
results/*
!results/.gitkeep

# OS
.DS_Store
Thumbs.db

